@CHARSET "ISO-8859-1";

body {
	font-size: 12px;
	
	margin: 0px;
}

.center_content{
	margin-top: 5px;
}

.ui-state-default .imagemPesquisa {    
    background-image: url("../resources/imagens/lupa.png");    
}

.ui-widget-overlay {
	z-index: 1000 !important;	
}

.centralizar{
	margin:0 auto; 
	padding:5%;
}

